/* fonts */

/* heading*/ @import url('https://fonts.googleapis.com/css?family=Rubik');
/* body */ @import url('https://fonts.googleapis.com/css?family=Karla');

/* colours */
/* blue #27AAE1*/
/* red #BE1E2D*/

/* global*/
body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5{
    font-family: 'Rubik', helvetica,sans-serif;
    color: #fff;
    text-align: center;
}
h1{
    font-size: 4em;
}
h3{
    color: #000;
    font-size: 1.5em;
}
p, h4{
    font-family: 'Karla', arial,sans-serif;
    font-size: 1.425em;
    color: #fff;
    text-align: center;
}
h4{
    color: #BE1E2D;
    font-weight: 100;
}
a{
    font-family: 'Karla', arial,sans-serif;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    user-select: none;
    display: inline-block;
    text-decoration: none;
}

/* header */
header {
    width: 100%;
    position: absolute;
    height: 6em;
    background: transparent;
    z-index: 1;
}
header #logo {
    display: block;
    margin: 0 auto;
    position: relative;
    height: 70px;
    padding: 20px 0 0 0;
    user-select: none;
}

/* hero */
#hero{
    background: url("../img/bg.jpg") center no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
    position: relative;
/*    filter: brightness(0.9);*/
}
.hero-txt{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    min-width: 330px;
}

/* skills */
#my-skills{
    position: relative;
}
#skills-container{
    display: grid;
    display:-ms-grid;
    position: absolute;
    grid-template-columns: repeat(3, 33.33%);
    -ms-grid-columns: repeat(3, 33.33%);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    top: -90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.skill-col{
    height: auto;
    background: #fff;
    padding: 25px;
}
.skill-col:nth-child(1){
    grid-column: 1;
    -ms-grid-column:1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px #d5d5d5 solid;
}
.skill-col:nth-child(2){
    grid-column: 2;
    -ms-grid-column:2;
    border-top: 1px #d5d5d5 solid;
    border-bottom: 1px #d5d5d5 solid;
}
.skill-col:nth-child(3){
    grid-column: 3;
    -ms-grid-column:3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px #d5d5d5 solid;
}
.skill-icon{
    height: 70px;
    display: block;
    margin: 0 auto;
}
.skill-col h3, .skill-col h4{
    margin-bottom: 0;
}
.skill-col p{
    color: #000;
    font-size: 1.25em;
}

/* about */
#about{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 35px;
}
#about h3{
    margin: 55px 0 24px;
}
#about p{
    color: #000;
    font-size: 1.25em;
}

/* work */
#my-work{
    border-top: 1px solid #d5d5d5;
}
#my-work h3{
    margin: 55px 0;
}
#work-container{
    display: grid;
    display:-ms-grid;
    grid-template-columns: repeat(3, 386.66px);
    grid-template-rows: repeat(2, 260px);
    -ms-grid-columns: repeat(3, 400px);
    -ms-grid-rows: repeat(2, 100%);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.work-col{
    position: relative;
}
.work-col:nth-child(1){
    grid-column: 1;
    grid-row: 1;
    -ms-grid-column:1;
    -ms-grid-row:1;
}
.work-col:nth-child(2){
    grid-column: 2;
    grid-row: 1;
    -ms-grid-column:2;
    -ms-grid-row:1;
}
.work-col:nth-child(3){
    grid-column: 3;
    grid-row: 1;
    -ms-grid-column:3;
    -ms-grid-row:1;
}
.work-col:nth-child(4){
    grid-column: 1;
    grid-row: 2;
    -ms-grid-column:1;
    -ms-grid-row:2;
}
.work-col:nth-child(5){
    grid-column: 2;
    grid-row: 2;
    -ms-grid-column:2;
    -ms-grid-row:2;
}
.work-col:nth-child(6){
    grid-column: 3;
    grid-row: 2;
    -ms-grid-column:3;
    -ms-grid-row:2;
}
.work-img{
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
}
.work-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease-in-out;
}
.work-info-container{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0E4962;
    border-radius: 20px;
    text-align: center;
}
.work-info{
    padding: 5%;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.work-info p{
    margin-top: 0;
}
.learn-more-btn, .visit-website-btn{
    padding: 10px 20px;
    color: #fff;
    border-radius: 50px;
}
.learn-more-btn{
    background: #BE1E2D;
    border: 2px #BE1E2D solid;
    margin-right: 5px;
}
.visit-website-btn{
    border: 2px #fff solid;
    margin-left: 5px;
}
.visit-website-btn::after, .see-more-btn::after{
    background-image: url("../img/right-arrow.png");
    background-size: 6px 9px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 10px;
    height: 10px;
    content:"";
    margin-left: 7px;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
}
.learn-more-btn:hover{
    background: #DE3141;
    border: 2px #DE3141 solid;
}
.visit-website-btn:hover{
    border: 2px #27AAE1 solid;
    color: #27AAE1;
}
.visit-website-btn:hover::after{
    background-image: url("../img/right-arrow-hover.png");
    content:"";
}
.see-more-container{
    max-width: 1200px;
    margin: 55px auto;
    text-align: center;
}
.see-more-btn{
    padding: 10px 50px;
    color: #fff;
    border-radius: 50px;
    background: #27AAE1;
    border: 2px #27AAE1 solid;
    font-size: 1.25em;
}
.see-more-btn::after{
    margin-left: 9px;
}
.see-more-btn:hover{
    background: #1a8bbb;
    border: 2px solid #1a8bbb;
}

/* footer */
footer{
    height: 300px;
    background: #101010;
}
.footer-container{
    max-width: 1200px;
    margin: 0 auto;
}
#footer-logo{
    width: 100%;
    text-align: center;
    padding-top: 55px;
}
#footer-email{
    margin: 20px 0 50px;
}
#social{
    margin:30px 0 50px;
    width: 100%;
    text-align: center;
}
.social-btn{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 2px solid #fff;
    text-align: center;
    margin: 0 15px;
    transition: all 0.3s ease-in-out;
}
.social-btn:hover{
    background: #fff;
}
i{
    height: 20px;
    width: 20px;
    margin-top: 12px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.social-btn:hover i:nth-child(odd){
    color: #BE1E2D;
}
#footer-copyright{
    margin: 50px 0 ;
}
#footer-copyright p{
    color: #4A4A4A;
}
#footer-email p, #footer-copyright p{
    font-size: 1em;
}

/* responsive styles */
@media screen and (max-width: 1260px) {
    #skills-container, #work-container, #about{
        max-width: 1000px;
        height: auto;
    }
    #hero{

    }
    #my-skills, #about{
        margin: 0 20px;
    }
    #work-container{
        grid-template-columns: repeat(3, 320px);
        grid-template-rows: repeat(2, 200px);
    }
    .learn-more-btn, .visit-website-btn{
        padding: 10px 15px;
    }
}
@media screen and (max-width: 1060px){
    #work-container{
        max-width: 1020px;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 260px);
        margin: 0 40px 0 20px;
    }
    .work-col:nth-child(1){
        grid-column: 1;
        grid-row: 1;
        -ms-grid-column:1;
        -ms-grid-row:1;
    }
    .work-col:nth-child(2){
        grid-column: 2;
        grid-row: 1;
        -ms-grid-column:2;
        -ms-grid-row:1;
    }
    .work-col:nth-child(3){
        grid-column: 1;
        grid-row: 2;
        -ms-grid-column:3;
        -ms-grid-row:1;
    }
    .work-col:nth-child(4){
        grid-column: 2;
        grid-row: 2;
        -ms-grid-column:1;
        -ms-grid-row:2;
    }
    .work-col:nth-child(5){
        grid-column: 1;
        grid-row: 3;
        -ms-grid-column:2;
        -ms-grid-row:2;

    }
    .work-col:nth-child(6){
        grid-column: 2;
        grid-row: 3;
        -ms-grid-column:3;
        -ms-grid-row:2;
    }
}
@media screen and (max-width: 760px){
    #skills-container{
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 100%);
    }
    .skill-col:nth-child(1){
        grid-column: 1;
        grid-row: 1;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .skill-col:nth-child(2){
        grid-column: 1;
        grid-row: 2;
        border: 0;
        border-left: 1px #d5d5d5 solid;
        border-right: 1px #d5d5d5 solid;
    }
    .skill-col:nth-child(3){
        grid-column: 1;
        grid-row: 3;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    #work-container{
        max-width: 770px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 460px);
        margin: 0 20px;
    }
    .work-col:nth-child(1){
        grid-column: 1;
        grid-row: 1;
        -ms-grid-column:1;
        -ms-grid-row:1;
    }
    .work-col:nth-child(2){
        grid-column: 1;
        grid-row: 2;
        -ms-grid-column:2;
        -ms-grid-row:1;
    }
    .work-col:nth-child(3){
        grid-column: 1;
        grid-row: 3;
        -ms-grid-column:3;
        -ms-grid-row:1;
    }
    .work-col:nth-child(4){
        grid-column: 1;
        grid-row: 4;
        -ms-grid-column:1;
        -ms-grid-row:2;
    }
    .work-col:nth-child(5){
        grid-column: 1;
        grid-row: 5;
        -ms-grid-column:2;
        -ms-grid-row:2;
    }
    .work-col:nth-child(6){
        grid-column: 1;
        grid-row: 6;
        -ms-grid-column:3;
        -ms-grid-row:2;
    }
    .learn-more-btn, .visit-website-btn{
        padding: 10px 20px;
    }
}
@media screen and (max-width: 560px){
    #work-container{
        grid-template-rows: repeat(6, 420px);
    }
}
@media screen and (max-width: 660px){
    #work-container{
        grid-template-rows: repeat(6, 360px);
    }
}
@media screen and (max-width: 560px){
    #work-container{
        grid-template-rows: repeat(6, 300px);
    }
}
@media screen and (max-width: 460px){
    header #logo{
        height: 50px;
    }
    h1{
        font-size: 2.3em;
    }
    p{
        font-size: 1.4em;
    }
    #work-container{
        grid-template-rows: repeat(6, 240px);
    }
}
