/* fonts */

/* heading*/ @import url('https://fonts.googleapis.com/css?family=Rubik');
/* body */ @import url('https://fonts.googleapis.com/css?family=Karla');

/* colours */
/* blue #27AAE1*/
/* red #BE1E2D*/

/* global*/
body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5{
    font-family: 'Rubik', helvetica,sans-serif;
    color: #fff;
    text-align: center;
}
h1{
    font-size: 4em;
}
h3{
    color: #000;
    font-size: 1.5em;
}
p, h4{
    font-family: 'Karla', arial,sans-serif;
    font-size: 1.425em;
    color: #fff;
    text-align: center;
}
h4{
    color: #BE1E2D;
    font-weight: 100;
}
a{
    font-family: 'Karla', arial,sans-serif;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    user-select: none;
}

/* header */
header {
    width: 100%;
    position: absolute;
    height: 6em;
    background: transparent;
    z-index: 1;
}
header #logo {
    display: block;
    margin: 0 auto;
    position: relative;
    height: 70px;
    padding: 20px 0 0 0;
    user-select: none;
}

/* hero */
#hero{
    background: url("../img/bg.jpg") center no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
    position: relative;
}
.hero-txt{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* skills */
#my-skills{
    position: relative;
    height: 315px;
}
#skills-container{
    display: grid;
    display:-ms-grid;
    position: absolute;
    grid-template-columns: repeat(3, 33.33%);
    -ms-grid-columns: repeat(3, 33.33%);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    top: -90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.skill-col{
    height: auto;
    background: #fff;
    padding: 25px;
}
.skill-col:nth-child(1){
    grid-column: 1;
    -ms-grid-column:1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px #d5d5d5 solid;
}
.skill-col:nth-child(2){
    grid-column: 2;
    -ms-grid-column:2;
    border-top: 1px #d5d5d5 solid;
    border-bottom: 1px #d5d5d5 solid;
}
.skill-col:nth-child(3){
    grid-column: 3;
    -ms-grid-column:3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px #d5d5d5 solid;
}
.skill-icon{
    height: 70px;
    display: block;
    margin: 0 auto;
}
.skill-col h3, .skill-col h4{
    margin-bottom: 0;
}
.skill-col p{
    color: #000;
    font-size: 1.25em;
}

/* about */
#about{
    width: 1200px;
    margin: 0 auto;
    padding: 0 0 35px;
}
#about h3{
    margin: 55px 0 24px;
}
#about p{
    color: #000;
    font-size: 1.25em;
}

/* work */
#my-work{
    border-top: 1px solid #d5d5d5;
    margin-bottom: 65px;
}
#my-work h3{
    margin: 55px 0;
}
#work-container{
    display: grid;
    display:-ms-grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 100%);
    -ms-grid-columns: repeat(3, 400px);
    -ms-grid-rows: repeat(2, 100%);
    width: 1200px;
    margin: 0 auto 65px;
}
.work-col{
    position: relative;
    height: 260px;
}
.work-col:nth-child(1){
    grid-column: 1;
    grid-row: 1;
    -ms-grid-column:1;
    -ms-grid-row:1;
    margin: 0 10px 10px 0;
}
.work-col:nth-child(2){
    grid-column: 2;
    grid-row: 1;
    -ms-grid-column:2;
    -ms-grid-row:1;
    margin: 0 10px 10px;
}
.work-col:nth-child(3){
    grid-column: 3;
    grid-row: 1;
    -ms-grid-column:3;
    -ms-grid-row:1;
    margin: 0 0px 10px 10px;
}
.work-col:nth-child(4){
    grid-column: 1;
    grid-row: 2;
    -ms-grid-column:1;
    -ms-grid-row:2;
    margin: 10px 10px 0 0;
}
.work-col:nth-child(5){
    grid-column: 2;
    grid-row: 2;
    -ms-grid-column:2;
    -ms-grid-row:2;
    margin: 10px 10px 0 ;
}
.work-col:nth-child(6){
    grid-column: 3;
    grid-row: 2;
    -ms-grid-column:3;
    -ms-grid-row:2;
    margin: 10px 0px 0 10px;
}
.work-img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
}
.work-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease-in-out;
}
.work-img img:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.work-info{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 260px;
    background: #0E4962;
    border-radius: 20px;
    text-align: center;
}
.work-info-container{
    margin-top: 50px;
}
.work-info-btns{
    margin-top: 50px;
}
.learn-more-btn, .visit-website-btn{
    padding: 10px 20px;
    color: #fff;
    border-radius: 50px;
}
.learn-more-btn{
    background: #BE1E2D;
    border: 2px #BE1E2D solid;
    margin-right: 10px;
}
.visit-website-btn{
    border: 2px #fff solid;
    margin-left: 10px;
}
.visit-website-btn::after, .see-more-btn::after{
    background-image: url("../img/right-arrow.png");
    background-size: 6px 9px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 10px;
    height: 10px;
    content:"";
    margin-left: 7px;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
}
.learn-more-btn:hover{
    background: #DE3141;
    border: 2px #DE3141 solid;
}
.visit-website-btn:hover{
    border: 2px #27AAE1 solid;
    color: #27AAE1;
}
.visit-website-btn:hover::after{
    background-image: url("../img/right-arrow-hover.png");
    content:"";
}
.see-more-container{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.see-more-btn{
    padding: 10px 50px;
    color: #fff;
    border-radius: 50px;
    background: #27AAE1;
    border: 2px #27AAE1 solid;
    margin-right: 10px;
    font-size: 1.25em;
}
.see-more-btn::after{
    margin-left: 9px;
}
.see-more-btn:hover{
    background: #1a8bbb;
    border: 2px solid #1a8bbb;
}

/* footer */
footer{
    height: 55px;
    background: #101010;
}
