/* fonts */

/* heading*/ @import url('https://fonts.googleapis.com/css?family=Rubik');
/* body */ @import url('https://fonts.googleapis.com/css?family=Karla');

/* colours */
/* blue #27AAE1*/
/* red #BE1E2D*/

/* global*/
body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5{
    font-family: 'Rubik', helvetica,sans-serif;
    color: #fff;
}
h1{
    font-size: 4em;
}
p{
    font-family: 'Karla', arial,sans-serif;;
    font-size: 1.625em;
    color: #fff;
}

/* header */
header {
    width: 100%;
    position: fixed;
    height: 6em;
    background: transparent;
    z-index: 1;
}
header #logo {
    display: block;
    margin: 0 auto;
    position: relative;
    height: 70px;
    padding: 20px 0 0 0;
}
#hero{
    background: url("../img/bg.jpg") center no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
    position: relative;
}
.hero-txt{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
